<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chaskifud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chaskifud.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
      <nav class="navbar">

            <a href='@Url.Action("Index", "Home")' class="logo-container"><img src = "../Images/C_Chaskifud.png"></a>

            <ul class="nav-links">
                <li><a href= '@Url.Action("Index","Home")' >Inicio</a></li>
                <li><a href= '@Url.Action("Mapa","Home")' >Mapa</a></li>
                <li><a href='@Url.Action("Nosotros", "Home")'>Nosotros</a></li>
                <li><a href='@Url.Action("Restaurante", "Home")'>Locales</a></li>
            </ul>
            <div class = "profile">
            <a href = '@Url.Action("Login", "Auth")'>
            <img src="../Images/@ViewBag.UserImg" alt="@ViewBag.UserImg" id = "imagen_perfil">
            </a>
            <a href = '@Url.Action("Carrito", "Home")' >
            <img src="../Images/carrito-de-compras.png" alt="Profile Picture">
            </a>
            </div>
        </nav>  
    </header>
        @RenderBody()

<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h6>Compañía</h6>
            <ul>
                <li><a href='@Url.Action("Nosotros","Home")'>Nosotros</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Negocios afiliados</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h6>Ayuda</h6>
            <ul>
                <li><a href="#">Preguntas</a></li>
                <li><a href="#">Foros</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h6>Contáctanos</h6>
            <ul>
                <li><a href="#">Afiliá tu emprendimiento</a></li>
            </ul>
        </div>
        <div class="footer-section follow-us">
            <h6>Seguinos</h6>
            <ul class="social-icons">
                <li><a href="#"><img src="../Images/instagram.png" alt="Instagram"></a></li>
                <li><a href="#"><img src="../Images/twitter.png" alt="Twitter"></a></li>
                <li><a href="#"><img src="../Images/linkedin.png" alt="LinkedIn"></a></li>
                <li><a href="#"><img src="../Images/facebook.png" alt="Facebook"></a></li>
            </ul>
        </div>
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
