@if (ViewBag.Carrito != null && ViewBag.Carrito.Count > 0)
{
    <input type="hidden" id="IdRestauranteCarrito" value="@ViewBag.Carrito[0].IdRestaurante" />
}
<input type = "hidden" value="@ViewBag.UserImg" class = "imagen-global">
<div class = "logo-chaski-container">
<img src="../Images/Logo-Chaskifud.png" class = "logo-chaski">
</div>
<div class="containerIndexInfo">
    <div>
        <p>
            En Chaskifud nos dedicamos a ofrecer opciones de almuerzo prácticas y accesibles para los estudiantes de ORT. 
            Ayudamos a que encuentres comidas frescas y de calidad, pensadas para que aproveches al máximo tu pausa del mediodía. 
            Te ofrecemos soluciones rápidas y sabrosas para que tu almuerzo sea sencillo y disfrutable.
        </p>
    </div>
</div>

<h2 class="h2-index">¿Qué vas a comer hoy?</h2>

<div class="food-container">  
    @{

    foreach(Restaurante local in ViewBag.Restaurantes)
{
    
    <form class="food-card" action='@Url.Action("RestauranteElegido", "Home")' method="get">
    <input type="hidden" value="@local.IdRestaurante" name="IdRestaurante" class="id-restaurante">
    <input type="submit" value="" class="enviar_rest enviar_rest2" id="enviar2">

    <img src="../Images/@local.Imagen" alt="GRA-HU">
    <div class="food-info">
        <img src="../Images/@local.Imagen" alt="GRA-HU">
        <div class="sub-food-info">
            <h3>@local.Nombre</h3>
            <p>12-20 Minutos</p>
            <p>$2.500 - $4.000</p>
        </div>
        <span>★5</span>
    </div>
</form>

    
}
    }
</div>

<h2 class="h2-index">Platos del día</h2>

<div class="menu-container">
    <div class="menu-item large">
        <img src="https://placehold.co/300x200" alt="Milanesa">
        <div class="menu-label">Milanesa</div>
    </div>
    <div class="menu-column">
        <div class="menu-item">
            <img src="https://placehold.co/300x200" alt="Papas Fritas">
            <div class="menu-label">Papas Fritas</div>
        </div>
        <div class="menu-item">
            <img src="https://placehold.co/300x200" alt="Shawarma">
            <div class="menu-label">Shawarma</div>
        </div>
    </div>
</div>


@{
    ViewData["Title"] = "Login";
}

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

