<div class = "perfil-container">
    <div class = "perfil-puntos-container">
        <img src = "../Images/@ViewBag.usuario.Imagen" class = "foto-perfil">
        <p>@ViewBag.usuario.Apellido</p>
        <p>@ViewBag.usuario.Nombre</p>
        <a href ='@Url.Action("Perfil", "Home")' class = "perfil-ap">🔒︎Perfil</a>
        <!-- <a href ='@Url.Action("PerfilPuntos", "Home")' class = "perfil-pp">🪙Puntos</a> -->
        <a href ='@Url.Action("Logout", "Auth")' class = "perfil-logout">Cerrar sesión</a>

    </div>
    <div class="profile-card">
        <div class="field-group">
            <span class="field-label">Nombre</span>
            <div class="field-wrapper">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                <span class="field-value">@ViewBag.usuario.Nombre</span>
            </div>
        </div>

        <div class="field-group">
            <span class="field-label">Apellido</span>
            <div class="field-wrapper">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                <span class="field-value">@ViewBag.usuario.Apellido</span>
            </div>
        </div>
        

        <div class="field-group">
            <span class="field-label">Mail</span>
            <div class="field-wrapper">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                </svg>
                <span class="field-value">@ViewBag.usuario.Email</span>
            </div>
        </div>

        <div class="field-group">
            <span class="field-label">Telefono</span>
            <div class="field-wrapper">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                </svg>
                <span class="field-value">@ViewBag.usuario.NumeroTelefono</span>
            </div>
        </div>

        <a href ='@Url.Action("PerfilEditar", "Home")'  class="edit-button">
            <svg viewBox="0 0 24 24">
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
            Editar
        </a>
    </div>
</div>