<div class="restaurante-elegido-container">
    <img src="../Images/@ViewBag.Restaurante.Imagen" style="width: 175px;">
    <div class="info-restaurante-elegido">
        <div>
            <h1>@ViewBag.Restaurante.Nombre</h1>    
            <h5>@ViewBag.Restaurante.Puntuacion ⭐</h5>
            <h6>@ViewBag.Restaurante.Direccion</h6>
        </div>
    </div>
</div>
<section class = "comidas-container">
@{
    foreach (Comida alimento in ViewBag.Comida)
    {
        <form class="comidas-card" method = "Post" action = '@Url.Action("Comprar","Home")'>
    <div>
         <h5>@alimento.Nombre</h5>
        <img src = "../Images/@alimento.Imagen">
    </div>
        <span>
            <h6>$@alimento.Precio</h6>
            <input type = "submit" value="Agregar" class ="Comprar" href = '@Url.Action("Comprar", "Home")'>
        </span>
        <input type = "hidden" name = "IdRestaurante" value = "@ViewBag.Restaurante.IdRestaurante"> 
         <input type="hidden" name="comidaElegida.IdComida" value="@alimento.IdComida">
        <input type="hidden" name="comidaElegida.IdRestriccionAlimenticia" value="@alimento.IdRestriccionAlimenticia">
        <input type="hidden" name="comidaElegida.Nombre" value="@alimento.Nombre">
        <input type="hidden" name="comidaElegida.Descripcion" value="@alimento.Descripcion">
        <input type="hidden" name="comidaElegida.Imagen" value="@alimento.Imagen">
        <input type="hidden" name="comidaElegida.Precio" value="@alimento.Precio">

    </form>
    }
}
</section>
