<div class="restaurante-elegido-container">
  <img src="../Images/@ViewBag.Restaurante.Imagen" style="width: 175px;">
  <div class="info-restaurante-elegido">
      <div>
          <h1>@ViewBag.Restaurante.Nombre</h1>    
          <h5>@ViewBag.Restaurante.Puntuacion ⭐</h5>
          <h6>@ViewBag.Restaurante.Direccion</h6>
      </div>
      <div>
      <a href='@Url.Action("Chat","Home")' class ="btn-mensaje">Chatear</a>
      </div>
  </div>
</div>

<section class = "comidas-container">
<div class="container">
  <div class="info-restaurante-elegido">
    @foreach (Comida alimento in ViewBag.Comida)
    {
      <div class="comidas-card">
          <h5>@alimento.Nombre</h5>
          <img src="../Images/@alimento.Imagen" alt="@alimento.Nombre">
        <div class="card-actions">
          <div class="price">
            <h6>$@alimento.Precio</h6>
          </div>
          <div class="buy-button">
            <form method="Post" action='@Url.Action("Comprar","Home")'>
              <input type="submit" value="Agregar" class="btn-comprar">
              <input type="hidden" name="IdRestaurante" value="@alimento.IdRestaurante">
              <input type="hidden" name="IdComida" value="@alimento.IdComida">
              <input type="hidden" name="IdRestriccionAlimenticia" value="@alimento.IdRestriccionAlimenticia">
              <input type="hidden" name="Nombre" value="@alimento.Nombre">
              <input type="hidden" name="Descripcion" value="@alimento.Descripcion">
              <input type="hidden" name="Imagen" value="@alimento.Imagen">
              <input type="hidden" name="Precio" value="@alimento.Precio">
            </form>
          </div>
        </div>
      </div>
    }
  </div>
</div>
</section>

  

