<div class="locales-title-container">
    <h1>Locales disponibles</h1>
</div>

@{
    if (ViewBag.Error == true)
    {
        <h1 class="js">@ViewBag.Error</h1>
    }

    // Si el carrito tiene elementos, pasamos el ID del primer restaurante
    if (ViewBag.Carrito != null && ViewBag.Carrito.Count > 0)
    {
        <input type="hidden" id="IdRestauranteCarrito" value="@ViewBag.Carrito[0].IdRestaurante" />
    }
}

<div class="restaurante-container">
    @{
        foreach (Restaurante local in ViewBag.Restaurantes)
        {
            if (local.Acepta)
            {
                <form class="local-container" action='@Url.Action("RestauranteElegido", "Home")' method="get">
            <input type="hidden" name="IdRestaurante" value="@local.IdRestaurante" class="id-restaurante">
            <div class="local-container-logo">
                <img src="../Images/@local.Imagen">
            </div>
            <div class="info-local-container">
                <h3>@local.Nombre</h3>
                <p>No acepta mercado pago</p>
            </div>
            <div class="puntuacion-container">
                <h4>★ @local.Puntuacion</h4>
            </div>
            <input type="submit" value="" class="enviar_rest">
        </form>

            }
            else
            {
                <h1 class="id-restaurante">@local.IdRestaurante</h1>
                <form class="local-container" action='@Url.Action("RestauranteElegido", "Home")' method="get">
                    <div class="local-container-logo">
                        <img src="../Images/@local.Imagen">
                    </div>
                    <div class="info-local-container">
                        <h3>@local.Nombre</h3>
                        <p>Acepta mercado pago</p>
                    </div>
                    <div class="puntuacion-container">
                        <h4>★ @local.Puntuacion</h4>
                    </div>
                    <input type="hidden" name="IdRestaurante" value="@local.IdRestaurante" class = "id-restaurante">
                    <input type="submit" value="" class="enviar_rest" >
                </form>
            }
        }
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
