<div class="restaurante-elegido-container">
  <img src="@Url.Content("~/Images/" + ViewBag.Restaurante.Imagen)" style="width: 225px;" alt="@ViewBag.Restaurante.Nombre">
  <div class="info-restaurante-elegido">
    <div>
      <h1>@ViewBag.Restaurante.Nombre</h1>    
      <h5>@ViewBag.Restaurante.Puntuacion ⭐</h5>
      <h6>@ViewBag.Restaurante.Direccion</h6>
    </div>
    <div>
      <a href="@Url.Action("Chat", "Home")" class="btn-mensaje">Chatear</a>
    </div>
    <div>
      <form method="post" action="@Url.Action("Resena", "Home")">
        <input type="hidden" name="IdRestaurante" value="@ViewBag.Restaurante.IdRestaurante">
        <input type="submit" value="Reseñas" class="btn-mensaje">
      </form>
    </div>
  </div>
</div>

<section class="comidas-container">
  <div class="container">
    <div class="info-restaurante-elegido">
      <div class="contenedor-comidas-card">

        @foreach (Comida alimento in ViewBag.Comida)
        {
          <div class="comidas-card">
            <h5>@alimento.Nombre</h5>
            <img src='@Url.Content("~/Images/" + alimento.Imagen)' alt="@alimento.Nombre">
            <div class="card-actions">
              <div class="precio">
                <h6>$@alimento.Precio</h6>
              </div>
              
              <div class="buy-button">
                <form method="post" action='@Url.Action("Comprar", "Home")'>
                  <input type="hidden" name="IdRestaurante" value="@alimento.IdRestaurante">
                  <input type="hidden" name="IdComida" value="@alimento.IdComida">
                  <input type="hidden" name="IdRestriccionAlimenticia" value="@alimento.IdRestriccionAlimenticia">
                  <input type="hidden" name="Nombre" value="@alimento.Nombre">
                  <input type="hidden" name="Descripcion" value="@alimento.Descripcion">
                  <input type="hidden" name="Imagen" value="@alimento.Imagen">
                  <input type="hidden" name="Precio" value="@alimento.Precio">
                  <input type="submit" value="Agregar" class="btn-comprar">
                </form>
              </div>
            </div>
          </div>
        }
        
      </div>
    </div>
  </div>
</section>
