<div class="locales-title-container">
    <h1>Locales disponibles</h1>
</div>

@{
    if (ViewBag.Error == true)
    {
        <h1 class="js">@ViewBag.Error</h1>
    }

    if (ViewBag.Carrito != null && ViewBag.Carrito.Count > 0)
    {
        <input type="hidden" id="IdRestauranteCarrito" value="@ViewBag.Carrito[0].IdRestaurante" />
    }
}

<div class="restaurante-lista">
    @{
        foreach (Restaurante local in ViewBag.Restaurante)
        {
            if (local.Acepta)
            {
                <form class="restaurante-tarjeta" action='@Url.Action("RestauranteElegido", "Home")' method="get">
                    <input type="hidden" name="IdRestaurante" value="@local.IdRestaurante" class="restaurante-id">
                    <div class="restaurante-logo">
                        <img src="../Images/@local.Imagen">
                    </div>
                    <div class="restaurante-informacion">
                        <h3>@local.Nombre</h3>
                        <p>No acepta mercado pago</p>
                    </div>
                    <div class="restaurante-puntuacion">
                        <h4>★ @local.Puntuacion</h4>
                    </div>
                    <input type="submit" value="" class="restaurante-boton">
                </form>
            }
            else
            {
                <h1 class="id-restaurante">@local.IdRestaurante</h1>
                <form class="restaurante-tarjeta" action='@Url.Action("RestauranteElegido", "Home")' method="get">
                    <div class="restaurante-logo">
                        <img src="../Images/@local.Imagen">
                    </div>
                    <div class="restaurante-informacion">
                        <h3>@local.Nombre</h3>
                        <p>Acepta mercado pago</p>
                    </div>
                    <div class="restaurante-puntuacion">
                        <h4>★ @local.Puntuacion</h4>
                    </div>
                    <input type="hidden" name="IdRestaurante" value="@local.IdRestaurante" class="id-restaurante">
                    <input type="submit" value="ir al local" class="restaurante-boton">
                </form>
            }
        }
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
